---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
import Card from "./Card.astro";
import type { CollectionEntry } from "astro:content";
import SelectedHeader from "./react/SelectedHeader";

export type Props = {
  options: {
    collection: "languages" | "paths";
    title: string;
    filter?: string;
  };
};
const { options } = Astro.props;

const allItems = await getCollection(options.collection);
let renderItems: any = [];

if (!options.filter) renderItems = allItems;
else {
  // first check the type of data we are checking
  if (options.collection === "paths") {
    renderItems = allItems.filter((item) =>
      item.data.relatedLanguages.includes(options.filter)
    );
  } else {
    renderItems = allItems.filter((item) =>
      item.data.relatedBranches.includes(options.filter)
    );
  }
}
---

<Section>
  <SelectedHeader
    filter={options.filter}
    collection={options.collection}
    selectedTitle={options.title}
  />

  <div class="flex flex-wrap gap-3 mx-auto">
    {
      renderItems.map(({ data }: { data: any }) => (
        <Card collection={options.collection} data={data} />
      ))
    }
  </div>
</Section>
